/*******
Hide and show spoiler
********/


/*body {
  background: #2f558e url(spoilerimg/bg.png) repeat 0 0;
  background-size: 400px auto;
  font-family: sans-serif;
}
img {
  display: block;
  width: 150px;
  margin: 100px auto;
}
button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 24px;
  width: 480px;
  padding: 40px 0;
  margin: -40px -20px;
  outline: none;
  cursor: pointer;
}
.spoiler {
  background: #1d3c6a;
  width: 440px;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 40px 20px;
  text-align: center;
  font-size: 24px
}
.spoiler span {
  color: #dae1e4;
}
*/



/*********
Creating a simple lightbox
**********/

body {
  font-family: sans-serif;
  background: #384047;
}
h1 {
  color: #fff;
  text-align: center
}

ul {
  list-style:none;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 780px;
  text-align: center;
}
ul li {
  display: inline-block;
  padding: 8px;
  background:white;
  margin:10px;
}
ul li img {
  display: block;
}
a {
  text-decoration: none;
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align: center;
}

#overlay img {
 margin-top: 10%; 
}

#overlay p {
 color:white; 
}





